/MiniJava.jj
/*.java
!/AST*.java
/ASTAssignmentStatement.java
/ASTBlockStatement.java
/ASTClassDeclaration.java
/ASTClassName.java
/ASTFuncName.java
/ASTIfStatement.java
/ASTLogicalNegationExpression.java
/ASTMainClass.java
/ASTMethodDeclaration.java
/ASTParameterDeclaration.java
/ASTPrintStatement.java
/ASTProgram.java
/ASTReturnStatement.java
/ASTVarName.java
/ASTVariableDeclaration.java
/ASTWhileStatement.java
